<%
   dimensions = attachment.image_dimensions(:medium)
   height = 300
   height = dimensions.height.to_i if dimensions.present?
%>
<a href="<%= attachment.file.url %>"
   class="attachment-thumb"
   data-original-url="<%= attachment.file.url %>"
   style="height:<%= height %>px">
  <%= image_tag attachment.file.url(:medium) %>
</a>