<li class="attachment" data-attachment-id="<%= attachment.id %>">
  <% if edit_mode? %><a class="delete-attachment-btn" href="#">&times;</a><% end %>
  <%= attachment.render %>
  <%= attachment.show :caption, edit_mode? %>
</li>