<div class="row">
  <div class="span6 offset3">
    <div class="well">
        <h1>Stories</h1>

        <table class="table">
          <tr>
            <th>Title</th>
            <th>Actions</th>
          </tr>

        <% @stories.each do |story| %>
          <tr>
            <td><%= link_to story.title, story %></td>
            <td>
              <%= link_to 'Destroy', story, confirm: 'Are you sure?', method: :delete %>
            </td>
          </tr>
        <% end %>
        </table>

        <br />

        <%= link_to 'New Story', new_story_path %>
    </div>
  </div>
</div>